$ModLoad imuxsock
$ModLoad imjournal

$WorkDirectory /var/lib/rsyslog
$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat
$IncludeConfig /etc/rsyslog.d/*.conf
$OmitLocalLogging on
$IMJournalStateFile imjournal.state

$template DynaFile,"/var/log/hosts/%HOSTNAME%/%$YEAR%%$MONTH%%$DAY%.log"
*.* -?DynaFile

$RuleSet local
kern.*                                       /dev/console
*.info;mail.none;authpriv.none;cron.none     /var/log/messages
authpriv.*                                   /var/log/secure
mail.*                                       -/var/log/maillog
cron.*                                       /var/log/cron
*.emerg                                      :omusrmsg:*
local7.*                                     /var/log/boot.log
*.*                                          @@127.0.0.1:601

$RuleSet remote
*.*                                          -?DynaFile

$DefaultRuleset local

{% if rsyslog_udp_enable %}
$ModLoad imudp
$InputUDPServerBindRuleset remote
$UDPServerRun {{ rsyslog_udp_port }}
{% endif %}

{% if rsyslog_tcp_enable %}
$ModLoad imtcp
$InputTCPServerBindRuleset remote
$InputTCPServerRun {{ rsyslog_tcp_port }}
{% endif %}

{% if rsyslog_relp_enable %}
$ModLoad imrelp
$InputRELPServerBindRuleset remote
$InputRELPServerRun {{ rsyslog_relp_port }}
{% endif %}
